<div class="container my-3">
  <div class = "row">
    <div class="col-6 ">
        <div class="card" >
          <h1 id = "card-title"><%= @plan.title %></h1>
          <%= render "card" %>
        </div>
    </div>
    <div class="col-5 chat-containerborder-0 p-2 shadow-sm chat-fixed" style="border-radius: 12px"">

      <div class="chat-buttons d-flex justify-content-between mb-3">
        <%= button_to 'Create my accomodation',
        plan_messages_path(@plan),
        params: {message: {content: "Find my accomodation"}},
        class:"btn btn-outline-primary w-100 mx-1",
        data: {turbo_methood: :post}
        %>
        <%= button_to 'Create my activity',
        plan_messages_path(@plan),
        params: {message: {content: "Create an activity for me"}},
        class:"btn btn-outline-primary w-100 mx-1",
        data: {turbo_methood: :post}
        %>
        <%= button_to 'Create my transportation',
        plan_messages_path(@plan),
        params: {message: {content: "Create a suitable transportation for this trip"}},
        class:"btn btn-outline-primary w-100 mx-1",
        data: {turbo_methood: :post}
        %>
      </div>
      <div id="activities-result" class="mb-3">
        <p class="text-muted">Click to get suggestions</p>
      </div>

      <hr>

      <h2>Chat</h2>
      <div>
        <div class="mt-3 scrollable-container " id="messages_container">
          <%= render "messages/messages", messages: @messages %>
        </div>
      </div>
        <div id="new_message_container">
          <%= render "messages/form", plan: @plan , message: @message %>
        </div>
    </div>

  </div>
</div>
